<div class="container">
  <div class="header">
    <h1>Data Parser Testor</h1>
    <style>
    table {
      margin: 0 auto;
      text-align: center;
      border-collapse: collapse;
      border: 1px solid #d4d4d4;
    }

    tr:nth-child(even) {
      background: #d4d4d4;
    }

    th, td {
      padding: 10px 30px;
    }

    th {
      border-bottom: 1px solid #d4d4d4;
    }
    </style>
  </div>
  <div class="body">
    <h2>Data Parser below</h2>
    <p>Select local CSV File:</p>
    <input id="csv" type="file">
    <output id="out">
    </output>
    <div class="table container">
      <script>
      console.log("Get this far");
      var fileInput = document.getElementById("csv"),
      readFile = function () {
        console.log("Started Parsing");
        var reader = new FileReader();
        reader.onload = function () {
          document.getElementById('out').innerHTML = reader.result;
        };
        reader.readAsBinaryString(fileInput.files[0]);
        reader.onload = function (e) {

          var table = document.createElement("table");
          var displayTable = document.createElement("displayTable");
          var matching = [];

          displayTable += "<table>";

          var rows = e.target.result.split("\n");

          for (var i = 1; i < rows.length; i++) {
            var row = table.insertRow(-1);
            var cells = rows[i].split(",");
            for (var j = 5; j < 6; j++) {
              var cell = row.insertCell(-1);
              cell.innerHTML = cells[j];
              if(cells[j+1] != Number(cells[j+1])){
                j++;
                console.log("Condition hit");//The condition isn''t hitting for some reason
              }

              if(matching.length == 0) {
                var insideArray = new Array(2);
                insideArray[0] = cells[j];
                insideArray[1] = 1;
                matching.push(insideArray);
              }

              var checker = 0;

              for(var k = 0; k < matching.length; k++) {
                if(cells[j] == matching[k][0]){
                  matching[k][1] += 1;
                  checker++;
                }
              }
              if(checker == 0) {
                var insideArray = new Array(2);
                insideArray[0] = cells[j];
                insideArray[1] = 1;
                matching.push(insideArray);
              }
            }
          }

          for(var i = 0; i < matching.length; i++) {
            displayTable += "<tr>";
            for(var j = 0; j < 2; j++) {
              displayTable += "<td>" + matching[i][j] + "</td>";
            }
            displayTable += "</tr>";
          }
          displayTable += "</table>";
          document.write(displayTable);
        }
      };
      fileInput.addEventListener('change', readFile);
      </script>
    </div>
    <h2>Data Parser above</h2>
  </div>
</div>
