<div class="container">
  <div class="header">
    <h1>Data Parser Testor</h1>
    <style>
    table {
      margin: 0 auto;
      text-align: center;
      border-collapse: collapse;
      border: 1px solid #d4d4d4;
    }

    tr:nth-child(even) {
      background: #d4d4d4;
    }

    th, td {
      padding: 10px 30px;
    }

    th {
      border-bottom: 1px solid #d4d4d4;
    }
    </style>
  </div>

  <div class="body">
    <h2>Data Parser below</h2>

    <p>Select local CSV File:</p>

    <input id="csv" type="file">

    <output id="out"></output>

    <div class="table container">
      <script>
      var fileInput = document.getElementById("csv"),

      readFile = function () {
        var reader = new FileReader();

        reader.onload = function () {
          document.getElementById('out').innerHTML = reader.result;
        };

        reader.readAsBinaryString(fileInput.files[0]);

        reader.onload = function (e) {
          var numberTable = document.createElement("numberTable");
          var matching = [];

          var rows = e.target.result.split("\n");

          for (var i = 1; i < 10000; i++) { //The file is too big to use rows.length, it will cause the computer to crash

            var cells = rows[i].split(",");

            for (var j = 11; j < 12; j++) {
              if(cells[j] != 0 && cells[j] != null) {
                var testVariable = 0;
                var date = cells[j].split(".");
                var trial = 0;
                var h = j;

                for(var k = 0; k < date.length; k++) {
                  if(Number(date[k]) == date[k]) {
                    testVariable ++;
                  }
                }

                if(testVariable == 3) {
                  if(matching.length == 0) {
                    var insideArray = new Array(2);

                    insideArray[0] = cells[j];
                    insideArray[1] = 1;

                    matching.push(insideArray);
                  } else {
                    var checkCounter = 0;

                    for(var l = 0; l < matching.length; l++) {
                      if(cells[j] == matching[k][0]){
                        matching[k][1]++;
                        checkCounter++;
                      }
                    }

                    if(checkCounter == 0) {
                      var insideArray = new Array(2);

                      insideArray[0] = cells[j];
                      insideArray[1] = 1;

                      matching.push(insideArray);
                    }
                  }
                } else {
                  while(testVariable < 3 && trial < 5) {
                    testVariable = 0;

                    h++;
                    trial++;

                    if(cells[h] != null && cells[h] != 0){
                      var date = cells[h].split(".");

                      for(var k = 0; k < date.length; k++) {
                        if(Number(date[k]) == date[k]) {
                          testVariable ++;
                        }
                      }
                    }
                  }

                  if(testVariable == 3){
                    cells[j] = cells[h];

                    if(matching.length == 0) {
                      var insideArray = new Array(2);

                      insideArray[0] = cells[j];
                      insideArray[1] = 1;

                      matching.push(insideArray);
                    } else {
                      var checkCounter = 0;

                      for(var l = 0; l < matching.length; l++) {
                        if(cells[j] == matching[k][0]){
                          matching[k][1]++;
                          checkCounter++;
                        }
                      }

                      if(checkCounter == 0) {
                        var insideArray = new Array(2);

                        insideArray[0] = cells[j];
                        insideArray[1] = 1;

                        matching.push(insideArray);
                      }
                    }
                  }
                }
              }
            }
          }

          numberTable += "<table><tr><td>Date</td><td>Cases</td></tr>"

          for(var i = 0; i < matching.length; i++) {
            numberTable += "<tr>";

            for(var j = 0; j < 2; j++) {
              numberTable += "<td>" + matching[i][j] + "</td>";
            }

            numberTable += "</tr>";
          }

          numberTable += "</table>";

          document.write(numberTable);
        }
      };

      fileInput.addEventListener('change', readFile);
      </script>
    </div>

    <h2>Data Parser above</h2>
  </div>
</div>
