<div class="container">
  <div class="header">
    <h1>Data Parser Testor</h1>
    <style>
    table {
      margin: 0 auto;
      text-align: center;
      border-collapse: collapse;
      border: 1px solid #d4d4d4;
    }

    tr:nth-child(even) {
      background: #d4d4d4;
    }

    th, td {
      padding: 10px 30px;
    }

    th {
      border-bottom: 1px solid #d4d4d4;
    }
    </style>
  </div>
  <div class="body">
    <h2>Data Parser below</h2>
    <p>Select local CSV File:</p>
    <input id="csv" type="file">
    <output id="out">
    </output>
    <div class="table container">
      <script>
      var fileInput = document.getElementById("csv"),
      readFile = function () {
        var reader = new FileReader();
        reader.onload = function () {
          document.getElementById('out').innerHTML = reader.result;
        };
        reader.readAsBinaryString(fileInput.files[0]);
        reader.onload = function (e) {

          var table = document.createElement("table");
          var numberTable = document.createElement("numberTable");

          numberTable += "<table>"

          var rows = e.target.result.split("\n");

          numberTable += "<tr><td>Case Number</td><td>Latitude</td><td>Longitude</td></tr>";

          for (var i = 1; i < 10000; i++) { //The file is too big to use rows.length, it will cause the computer to crash

            var row = table.insertRow(-1);

            var cells = rows[i].split(",");

            numberTable += "<tr><td>" + i + "</td>";

            var testVariable = 0;

            for (var j = 6; j < 8; j++) {

              var cell = row.insertCell(-1);

              if(j == 6) {
                testVariable = 0;
              }

              cell.innerHTML = cells[j];

              var k = j;
              if((j == 6) && (cells[j] != Number(cells[j]))){
                while(cells[k] != Number(cells[k]) && testVariable < 10){
                  k++;
                  testVariable++;
                }
                cells[j] = cells[k];
              }


              k = j;

              if((testVariable != 0) && (j != 6) && (testVariable < 10)){
                while(testVariable != 0) {
                  k++;
                  cells[j] = cells[k];
                  testVariable--;
                }
              }

              if((testVariable == 0) || ((j == 6) && (cells[j] <= 90))){
              numberTable += "<td>" + cells[j] + "<td>";
            }
            }
            numberTable += "</tr>";
          }
          numberTable += "</table>";
          document.write(numberTable);
        }
      };
      fileInput.addEventListener('change', readFile);
      </script>
    </div>
    <h2>Data Parser above</h2>
  </div>
</div>
